.productwrapper {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product {
    width: 265px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.product img {
    width: 260px;
    height: 175px;
    margin: 0 1.5px;
    backdrop-filter: blur(10px);
    transition: .4s;
    border-radius: 10px;
}

.product img:hover {
    border: 1px solid #ddd;
    transform: scale(1.1);
}

.btn {
    display: flex;
    position: relative;
    font-size: 15px;
    padding: 6px 15px;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-left: 180px;
}

.product__h3 {
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.product p {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;
    padding: 0 15px;
}

.star {
    display: flex;
    padding: 5px 10px;
}

.rating:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 20px;
    fill: #666;
}

.rating:not(:checked)>label>svg {
    fill: #666;
    transition: fill 0.3s ease;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    fill: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    fill: #ff9e0b;
}

.rating>input:checked~label>svg {
    fill: #ffa723;
}

.btn {
    display: block;
    margin-top: -35px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}